<!-- Vue Errors. affiche dans l'IHM une erreur produite côté serveur -->
<br />
<div style="background: #F7F7F7;">
    <span style="color: Red" class="produitdetailinfo">@ViewBag.error</span><br />
</div>
